.skills
    display: flex
    flex-direction: column
    width: 350px
    position: relative
    >:nth-child(2)
        position: absolute
        bottom: 5px
        right: 5px
    &__list
        display: flex
        flex-wrap: wrap
    &__item
        flex: 1 0 33.3%
        max-width: 33.3%
        padding: 3px
    &__box
        background: #ffffff
        border: 2px solid $back-color
        padding: 10px 0
        display: flex
        align-items: center
        justify-content: center
        cursor: pointer
        font-size: .9rem
        color: $back-color
    &__other
        color: $back-color
        font-size: 0.9rem