.level
    display: flex
    align-items: center
    &__box
        background: $main-color
        height: 28px
        display: flex
        align-items: center
        justify-content: center
        padding: 5px
