.works
    width: 350px
    &__list
        display: flex
        flex-wrap: wrap
    &__item
        flex: 1 1 25%
        max-width: 25%
        padding: 2px
    &__box
        background: red
        display: flex
        align-items: center
        justify-content: center
        padding: 15px 0
        cursor: pointer
    &__link
        color: #000
        font-size: 0.8rem
        display: flex
        justify-content: center
        align-items: center