.sidebar
    border: none
    &__avatar
        padding: 0 30px
        &-photo
            width: 230px
            height: 230px
            border: 2px solid $back-color
            border-radius: 50%
            position: relative
            margin: 0 auto
    &__contacts
        &-list
            display: flex
            flex-direction: column
        &-item
            font-size: .9rem
            &:not(:last-child)
                margin-bottom: 7px 
        &-link
            color: $back-color
            &:hover
                color: $hover-color
    &__info
        &-item
            display: flex
            flex-direction: column
            margin: 12px 0
        &-row
        &-title
            color: $back-color
            font-size: 0.9rem
            margin: 0 0 5px 0
        &-text
            color: $hover-color
            font-size: 1.1rem