<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="theme-color" content="#17181a"/>

    <link rel="shortcut icon" type="image/png" href="/favicon.png"/>

    <link href="https://fonts.googleapis.com/css?family=Russo+One&display=swap&subset=cyrillic" rel="stylesheet">

    <!--<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700|PT+Sans:400,700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Cabin:400,500,600,700&display=swap" rel="stylesheet">-->

    <link rel="stylesheet" href='./main.css'>
</head>
<body>
    <header class="header" id="header">
        <div class="header-top">
            <div class="logo"></div>
        </div>
        <div class="header-bottom">
            <div class="header-bottom__text">
                <span>Сергей</span>
                <p>frontend, верстка сайтов</p>
            </div>
        </div>
        <nav class="menu">
            <ul class="menu-list">
                <li class="menu-item"><a class="menu-item__link" href="#header">Обо мне</a></li>
                <li class="menu-item"><a class="menu-item__link" href="#work">Работы</a></li>
                <li class="menu-item"><a class="menu-item__link" href="#skills">Навыки</a></li>
                <li class="menu-item"><a class="menu-item__link" href="#path">Мой путь</a></li>
            </ul>
        </nav>
    </header>
    <div class="wrapper">
        <section class="content work" id="work">
            <h2 class="title work-title">Работы</h2>
            <div class="grid work-box">
                <div class="card">
                    <div class="card-title">Япония</div>
                    <div class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Temporibus, corrupti.Lorem ipsum dolor sit amet, consectetur adipisicing elit. elit. Temporibus, corrupti.</div>
                    <div class="card-nav">
                        <div><a class="card-nav__item" href="https://github.com/Drosiel/start-from-scratch">Репозиторий</a></div>
                        <div><a class="card-nav__item" href="https://drosiel.github.io/start-from-scratch/dist">Сайт</a></div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-title">Имя</div>
                    <div class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsam aperiam exercitationem</div>
                    <div class="card-nav">
                        <div><a class="card-nav__item" href="#">Репозиторий</a></div>
                        <div><a class="card-nav__item" href="#">Сайт</a></div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-title">Имя</div>
                    <div class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit.Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsam aperiam exercitationem delectus hic vel molestiae! Ipsam aperiam exercitationem delectus hic vel molestiae!</div>
                    <div class="card-nav">
                        <div><a class="card-nav__item" href="#">Репозиторий</a></div>
                        <div><a class="card-nav__item" href="#">Сайт</a></div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-title">Имя</div>
                    <div class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsam aperiam exercitationem delectus hic vel molestiae!Lorem ipsumLorem ipsum dolor sit amet consectetur adipisicing elit. Ipsam aperiam exercitationem delectus hic vel molestiae! dolor sitLorem ipsum dolor sit amet consectetur adipisicing elit. Ipsam aperiam exercitationem delectus hic vel molestiae! amet consectetur adipisicing elit. Ipsam aperiam exercitationem delectus hic vel molestiae!</div>
                    <div class="card-nav">
                        <div><a class="card-nav__item" href="#">Репозиторий</a></div>
                        <div><a class="card-nav__item" href="#">Сайт</a></div>
                    </div>
                </div>
            </div>
        </section>

        <section class="content skills" id="skills">
            <h2 class="title skills-title">Навыки</h2>
            <ul class="grid skills-ladder">
                <li class="skills-ladder__item">
                    <div class="item-box">Python</div>
                    <div class="item-percent down" style="left: 45%;"></div>
                </li>
                <li class="skills-ladder__item">
                    <div class="item-box">HTML</div>
                    <div class="item-percent up" style="left: 78%;"></div>
                </li>
                <li class="skills-ladder__item">
                    <div class="item-box">CSS</div>
                    <div class="item-percent up" style="left: 65%;"></div>
                </li>
                <li class="skills-ladder__item">
                    <div class="item-box">C#</div>
                    <div class="item-percent up" style="left: 45%;"></div>
                </li>
                <li class="skills-ladder__item">
                    <div class="item-box">JavaScript</div>
                    <div class="item-percent down" style="left: 60%;"></div>
                </li>
                <li class="skills-ladder__item">
                    <div class="item-box">что-то новое</div>
                </li>
            </ul>
        </section>

        <section class="content path" id="path">
            <h2 class="title path-title">Мой путь</h2>
        </section>
    </div>

    <footer class="footer" id="footer">
        <div>самое дно</div>
    </footer>

    <div class="app" id="app"></div>
    <script type="text/javascript" src='./main.js'></script>
</body>
</html>