.header
    &__inner
        margin: 50px 0 0 0
        width: 710px
    &__info
        padding: 3px
        align-items: center
        border: 1px dashed $back-color
        display: flex
        &-item
            margin: 0 10px 0 0